@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes scale-up {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1.05);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-150%);
  }
  100% {
    transform: translateX(0);
  }
}

.food-slide-in{
  animation: .3s forwards slide-in-left
}
.food-slide-out{
  animation: .3s backwards slide-in-left
}

.centered{
  @apply flex justify-center items-center;
}

.catalogue-display-item-shadow{
  @apply group-hover:drop-shadow-[0_15px_15px_rgba(0,0,0,.25)]
}
.scale-up-animation{
  animation-iteration-count: 1;
  animation: .5s forwards scale-up;
}


.yellow-shadow{
  @apply hover:shadow-[0_5px_20px] hover:shadow-yellow-200
}



.scrollbar-hidden{ 
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For IE 11 */
  overflow: -moz-scrollbars-none; /* For Firefox */
  -ms-overflow-style: none; /* For IE 11 */
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* For WebKit/Blink */
}


/* Styling for the slider */
.slider {
  -webkit-appearance: none; /* Hides the default slider appearance in WebKit browsers */
  appearance: none;
  width: 100%;
  outline: none;

  transition: opacity .2s;
  @apply bg-[#F3F4F6] rounded-full h-[5px];
}


/* Styling for the slider thumb in WebKit browsers */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Removes the default appearance */
  appearance: none;
  width: 20px; /* Width of the thumb */
  height: 25px; /* Height of the thumb */
  cursor: pointer; /* Changes the cursor to a pointer */
  @apply  bg-accent z-10 border-white border-solid border-4 rounded-[10px] ;
}

/* Styling for the slider thumb in Firefox */
.slider::-moz-range-thumb {
  width: 20px; /* Width of the thumb */
  height: 25px; /* Height of the thumb */
  
  cursor: pointer; /* Changes the cursor to a pointer */
  @apply  bg-accent z-10 border-white border-solid border-4 rounded-[10px] ;
}

.accent-button{
  @apply w-full click-scale rounded-20 border-solid border-[3px] text-white bg-accent centered gap-5;
}
.hollow-accent-button{
  @apply w-full click-scale rounded-20 border-solid border-[3px] text-accent centered gap-5 bg-transparent border-accent 
}

button,.button,.click-scale, button:not(.no-scale,.ns){
  @apply p-3 px-4 relative before:absolute active:before:opacity-20 active:before:transition-opacity before:opacity-0 before:bg-black before:w-full before:h-full after:absolute overflow-clip active:after:scale-125 after:scale-0 active:after:opacity-10   after:bg-black after:aspect-square after:min-h-full after:w-full after:rounded-full after:opacity-0 after:duration-500 after:transition-transform flex justify-center items-center active:scale-95 hover:scale-105 scale-100 transition-transform duration-150
 }

.dark-button{
 @apply w-full click-scale rounded-20 centered gap-5 bg-gray-1 text-white
}